/* Homepage */
/* Background */
.index_header{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Images/HomepageBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

/* Soft Eng Multiple Choice */
.softengmc_header{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(Images/HomepageBackground.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
